
    <!-- footer area start -->
    <footer class="footer_area fix">
      <div class="container">
          <div class="row">
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="company__info  wow fadeInUp " data-wow-duration=".s" data-wow-delay=".3s">
                      <h3 class="f-title">contact info</h3>
                      <ul>
                          <li>108,
                              T.T.K ROAD,CHENNAI-600018
                              
                               </li>
                          <li>Email: senterexecutive@gmail.com</li>
                         
                          <li>Phone: +91 7010193569</li>
                      
                      </ul>
                      <div class="social__media mb-30">
                          <h3 class="f-title">FOLLOW US ON</h3>
                          <a href="https://www.instagram.com/_.senter._/"><i class="fab fa-instagram"></i></a>
                          <a href="https://www.linkedin.com/company/senteroffl/"><i class="fab fa-linkedin"></i></a>
                          
                      </div>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">
                  <div class="company__info wow fadeInUp " data-wow-duration=".7s" data-wow-delay=".4s">
                      <h3 class="f-title">Get Help</h3>
                      <ul>
                          <li><a href="{% url 'contact' %}">Contact Us</a></li>
                         
                          <li><a href="{% url 'terms' %}">Sale Terms & Conditions</a></li>
                          <li><a href="{% url 'privacy' %}">Privacy policy </a></li>
                      
                      </ul>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">
                  <div class="company__info wow fadeInUp " data-wow-duration=".8s" data-wow-delay=".5s">
                      <h3 class="f-title">Popular Products</h3>
                      <ul>
                        {% for product in products %}
                          <li><a href="{{ product.get_url }}">{{product.product_name}}</a></li>
                        {% endfor %}
                      </ul>
                  </div>
              </div>
              <div class="col-xl-3 offset-xl-1 col-lg-6 col-md-6 col-sm-12">
                  <div class="company__info wow fadeInUp " data-wow-duration=".9s" data-wow-delay=".6s">
                      <h3 class="f-title">get in touch</h3>
                      <p>Mail us your queries to  <a href="mailto:senterexecutive@gmail.com">senterexecutive@gmail.com</a> . We will get back to you soon 
                      </p>
                     
                  </div>
              </div>
          </div>
          <div class="footer__bottom pb-10 mt-60">
              <div class="row">
                  <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 ">
                      <p>Copyright © <span>Senter</span> All Rights Reserved. </p>
                  </div>
                  <div class="col-xl-5 offset-xl-2 col-lg-4 col-md-6 col-sm-12">
                      <div class="footer-menu">
                          <ul class="text-end">
                            
                              <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
                            
                              <li><a href="{% url 'contact' %}">Contact Us</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>