{% extends 'base.html' %} 
{% load static %} 
{% load compress %} 
{% block content %}
        <!-- breadcrumb area start -->
        <div class="page-layout about" data-background="{% static 'img/aboutus/7.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="breadcrumb-area text-center">
                            <h2 class="page-title">about us</h2>
                                <div class="breadcrumb-menu">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'about' %}">about</a></li>
                                    </ol>
                                </nav>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- history area start -->
        <div class="history__area pt-115 mb-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="g_history mb-100">
                            <h4 class="pl-130">Who we are</h4>
                            <h2 class="title-3 pl-130 pt-20 mb-70" style="color:#012970;">Welcome to Senter,
                                (MSME, Govt. of India Registered Enterprise)</h2>
                            <p> We strive to empower the industry by contributing creatively and innovate in solutions which meaningfully impact millions of people around the globe .
                                "Challenges Acquired Through Changes"
Our Company strives to enhance the technology by developing the latest essentials for humankind to enhance the transformation. </p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12">
                        <div class="history__thumb mb-30">
                            <img src="{% static 'img/aboutus/1.png' %}" alt="">
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="thumb mb-30">
                                    <img src="{% static 'img/aboutus/2.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="thumb mb-30">
                                    <img src="{% static 'img/aboutus/3.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="thumb mb-30">
                            <img src="{% static 'img/aboutus/4.png' %}" alt="">
                        </div>
                        <div class="thumb mb-30">
                            <img src="{% static 'img/aboutus/5.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- history area end -->

        <!-- award area start -->
        <div class="award__area mb-30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="g_history mb-110">
                            <h4 class="pl-130">why us ?</h4>
                            <h2 class="title-3 pl-130 pt-20 "></h2>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="singleaward text-center mb-50">
                                <div class="singleaward__thumb">
                                    <!-- <img src="" alt=""> -->
                                    <span><i class="fad fa-trophy-alt"></i></span>
                                </div>
                                <div class="singleaward__content pb-50">
                                    <h3 class="title-4">Team Work</h3>
                                    <p>“Individual commitment to a group effort—that is what makes a team work, a company work, a society work, a civilisation work.” -Vince Lombardi
                                        Our company promotes teamwork for sucess production.
                                        </p>
                                </div>
                            </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="singleaward singleaward_2 text-center mb-50">
                                <div class="singleaward__thumb">
                                    <!-- <img src="" alt=""> -->
                                    <span><i class="fal fa-thumbs-up"></i></span>
                                </div>
                                <div class="singleaward__content">
                                    <h3 class="title-4">Awesome Performance</h3>
                                    <p>we provide excellent performance by implementing and solving real world performance by hardware and software services.</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="singleaward  text-center mb-50">
                                <div class="singleaward__thumb">
                                    <!-- <img src="" alt=""> -->
                                    <span><i class="fal fa-user"></i></span>
                                </div>
                                <div class="singleaward__content pb-50">
                                    <h3 class="title-4">50+ Happy Customer</h3>
                                    <p>We see our customers as invited guests to a party, and we are the hosts. It’s our job every day to make every important aspect of the customer experience a little bit better.</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- award area end -->       
        <!-- team area start -->
        <div class="history__area pt-115 mb-100 team-main">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="g_history mb-110">
                            <h4 class="pl-130">Our Team</h4>
                            <h2 class="title-3 pl-130 pt-20 ">Team Members</h2>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="team_members text-center mb-50">
                            <div class="team_members__thumb">
                                <img src="{% static 'img/team/2.png' %}" alt="">
                            </div>
                            <div class="team_members__content pt-30">
                                <h4 class="sub-title">RG SHARATH KUMAR</h4>
                                <span>CEO, ARDUINO, IOT, 3D DESIGN CORE HEAD</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="team_members text-center mb-50 ">
                            <div class="team_members__thumb">
                                <img src="{% static 'img/team/4.png' %}" alt="">
                            </div>
                            <div class="team_members__content pt-30">
                                <h4 class="sub-title">V Rithika</h4>
                                <span>FRONTEND APP DEVELOPER AND DESIGNER HEAD</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="team_members text-center mb-50">
                            <div class="team_members__thumb">
                                <img src="{% static 'img/team/3.png' %}" alt="">
                            </div>
                            <div class="team_members__content pt-30">
                                <h4 class="sub-title">N Jayapreetha</h4>
                                <span>PCB DESIGNER AND ANALYSER HEAD</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="team_members text-center mb-50">
                            <div class="team_members__thumb">
                                <img src="{% static 'img/team/5.png' %}" alt="">
                            </div>
                            <div class="team_members__content pt-30">
                                <h4 class="sub-title">S ADITHYA SUBRAMANI</h4>
                                <span>COMPUTER VISION AND RASPBERRY PI CORE HEAD</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="team_members text-center mb-50">
                            <div class="team_members__thumb">
                                <img src="{% static 'img/team/1.png' %}" alt="">
                            </div>
                            <div class="team_members__content pt-30">
                                <h4 class="sub-title">D Swetha </h4>
                                <span>BACKEND APP DEVELOPER AND AI HEAD</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- team area end -->

        <!-- testimonial area start 
        <div class="testimonial__area">
            <div class="container">
                <div class="testimonial-active swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial text-center">
                                <div class="testimonial__thumb mb-20">
                                    <p class="fix mb-30"><i class="fal fa-quote-left"></i></p>
                                    <img src="{% static 'img/team/asset9.png" alt="testimonial_img">
                                </div>
                                <div class="testimonial__content">
                                    <p class="text-white mb-20">For me the most important part of improving at photography has been sharing it.<br>
                                        Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re trying to get<br> better at photography. Minimalist approach, bright colors, stainless steel and matte plastic, abstract<br> shapes and curved lines are the defining features of these<br>
                                        products designed to be extremely functional, user-friendly and fun.</p>
                                    <span class="author text-white">Eren Christopher</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial text-center">
                                <div class="testimonial__thumb mb-20">
                                    <p class="fix mb-30"><i class="fal fa-quote-left"></i></p>
                                    <img src="{% static 'img/team/asset9.png" alt="testimonial_img">
                                </div>
                                <div class="testimonial__content">
                                    <p class="text-white mb-20">For me the most important part of improving at photography has been sharing it.<br>
                                        Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re trying to get<br> better at photography. Minimalist approach, bright colors, stainless steel and matte plastic, abstract<br> shapes and curved lines are the defining features of these<br>
                                        products designed to be extremely functional, user-friendly and fun.</p>
                                    <span class="author text-white">Eren Christopher</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial text-center">
                                <div class="testimonial__thumb mb-20">
                                    <p class="fix mb-30"><i class="fal fa-quote-left"></i></p>
                                    <img src="{% static 'img/team/asset9.png" alt="testimonial_img">
                                </div>
                                <div class="testimonial__content">
                                    <p class="text-white mb-20">For me the most important part of improving at photography has been sharing it.<br>
                                        Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re trying to get<br> better at photography. Minimalist approach, bright colors, stainless steel and matte plastic, abstract<br> shapes and curved lines are the defining features of these<br>
                                        products designed to be extremely functional, user-friendly and fun.</p>
                                    <span class="author text-white">Eren Christopher</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        testimonial area end -->


        <!-- brand area start -->
       

    <!-- footer area end -->

    {% endblock %}
