{% extends 'base.html' %} 
{% load static %} 
{% load compress %} 
{% block content %}
<!-- cart area end  -->

    <!-- contact area 2 start -->
   
     <div class="contact__area_2" data-background="{% static 'img/about/Contact1.png' %}">
        <div class="container">
            <div class="row">
                <div class="col xl-12 col-lg-12 col-md-12">
                    <div class="contact__inner_2 text-center">
                        <h2 class="mb-80">contact us</h2>
                        <p>Need an expert? you are more than welcomed to leave your contact info<br> and we will be in touch shortly</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area 2 end -->

    <!-- contact info area start -->
    <div class="contact__info_2 mb-70 pt-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="contact-single text-center">
                    <div class="contact-single__thumb">
                        <!-- <img src="" alt=""> -->
                        <i class="fal fa-bookmark"></i>
                    </div>
                    <div class="contact-single__content">
                        <h3>Visit us</h3>
                        <p>Wanted to know our workplace <br>and environment vist us by below location  </p>
                        <h5>108,
                            T.T.K Road,Chennai-600018,TamilNadu</h5>
                    </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="contact-single text-center">
                    <div class="contact-single__thumb">
                        <!-- <img src="" alt=""> -->
                        <i class="fal fa-bell"></i>
                    </div>
                    <div class="contact-single__content">
                        <h3>CALL US</h3>
                        <p>Interested in Senter products? Just pick the phone
                            <br> to chat with our member of sales team </p>
                        <h5><a href="tel:+917010193569">+917010193569</a></h5>
                    </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="contact-single text-center border-0">
                    <div class="contact-single__thumb">
                        <!-- <img src="" alt=""> -->
                        <i class="fal fa-envelope"></i>
                    </div>
                    <div class="contact-single__content">
                        <h3>Contact us</h3>
                        <p>Sometimes you need a little help from your friends. <br>Or a Senter Team. Don't worry… we're here for you.</p>
                        <h5><a href="mailto:senterexecutive@gmail.com">senterexecutive@gmail.com</a></h5>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact info area end -->

         <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=108, TTk road , Alwapert , Chennai&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.gachacute.com/">Gacha Cute</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}</style></div>

    <!-- company social start -->
    <div class="company__social text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="c_social">
                        <a href="https://www.instagram.com/_.senter._/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/senteroffl/"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- company social end -->
{% endblock %}