{% extends 'base.html' %} 
{% load static %} 
{% load compress %} 
{% block content %}
        <!-- slider start -->
        <div class="slider-active slider-2 swiper-container height hight2 d-none d-md-block">
          <div class="swiper-wrapper">
              <div class="swiper-slide slider-item bgclr2 pt-200 pb-200">
                  <div class="container">
                      <div class="row">
                          <div class="col-xl-5 offset-xl-1 col-lg-5 col-md-5 ">
                              <div class="left_text text-right">
                                  <img class="changevalu3" src="{% static 'img/slider/slider-shape1.png' %}" alt="">
                                  <img class="changevalu2" src="{% static 'img/slider/slider-dot-shape1.png' %}" alt="">
                                  <img class="" src="{% static 'img/slider/slider-circle-1.png' %}" alt="">
                                  <img class="common-absoulute changevalue"  src="{% static 'img/slider/slider-text1.png' %}" alt="">
                              </div>
                          </div>
                          <div class="col-xl-6 col-lg-5 col-md-5">
                              <div class="righ-images">
                                  
                                  <img class="common-absoulute ab-2 d-none d-sm-block" src="{% static 'img/slider/1.png' %}" alt="">
                                  <img class="common-absoulute ab-3" src="{% static 'img/slider/slider-shape2.png' %}" alt="">
                                  <img class="common-absoulute ab-4" src="{% static 'img/slider/slider-shape5.png' %}" alt="">
                                  <img class="common-absoulute ab-5" src="{% static 'img/slider/slider-shape3.png' %}" alt="">
                                  <img class="common-absoulute ab-6" src="{% static 'img/slider/slider-shape1.png' %}" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide slider-item slider-animation pt-200 pb-200" data-background="{% static 'img/slider/img-revo11.png' %}">
                  <div class="container">
                      <div class="row">
                          <div class="col-xl-5 offset-xl-1 col-lg-5 col-md-5">
                              <div class="left_text text-right">
                                  <img class="changevalu3" src="{% static 'img/slider/slider-shape1.png' %}" alt="">
                                  <img class="changevalu2 bottomleft" src="{% static 'img/slider/slider-dot-shape1.png' %}" alt="">
                                  <img class="wow fadeIn" src="{% static 'img/slider/slider-square-shape2.jpg" data-wow-delay=".3s" alt="">
                                  <img class="common-absoulute changevalue"  data-wow-delay=".3s" src="{% static 'img/slider/slider-text3.png' %}" alt="">
                              </div>
                          </div>
                          <div class="col-xl-6 col-lg-5 col-md-5">
                              <div class="righ-images pt-200">  
                                  <img class="common-absoulute ab-3" src="{% static 'img/slider/slider-shape2.png' %}" alt="">
                                  <img class="common-absoulute ab-4" src="{% static 'img/slider/slider-shape5.png' %}" alt="">
                                  <img class="common-absoulute ab-5" src="{% static 'img/slider/slider-shape3.png' %}" alt="">
                                  <img class="common-absoulute ab-6 ab-66" src="{% static 'img/slider/slider-shape1.png' %}" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide slider-item pt-200 pb-200" data-background="{% static 'img/slider/img-revo12.png' %}">
                  <div class="container">
                      <div class="row">
                          <div class="col-xl-5 offset-xl-1 col-lg-5 col-md-5">
                              <div class="left_text text-right">
                                  <img class="changevalu3" src="{% static 'img/slider/slider-shape1.png' %}" alt="">
                                  <img class="changevalu2 bottomleft" src="{% static 'img/slider/slider-dot-shape1.png' %}" alt="">
                                  <img class="" src="{% static 'img/slider/slider-square-shape.jpg" data-wow-delay=".3s" alt="">
                                  <img class="common-absoulute changevalue" src="{% static 'img/slider/slider-text2.png' %}" alt="">
                              </div>
                          </div>
                          <div class="col-xl-6 col-lg-5 col-md-5">
                              <div class="righ-images pt-200">
                                  <img class="common-absoulute ab-3" src="{% static 'img/slider/slider-shape2.png' %}" alt="">
                                  <img class="common-absoulute ab-4" src="{% static 'img/slider/slider-shape5.png' %}" alt="">
                                  <img class="common-absoulute ab-5" src="{% static 'img/slider/slider-shape3.png' %}" alt="">
                                  <img class="common-absoulute ab-6 ab-66" src="{% static 'img/slider/slider-shape1.png' %}" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <div class="swiper-pagination"></div>
        </div>
      <!-- slider end -->

        <!-- banar area start -->
        <div class="banar_area">
          <div class="container-fluid padding-remove">
              <div class="row g-0">
                  <div class="col-xl-6 col-lg-6 col-md-12">
                      <div class="banar wow fadeIn" data-wow-duration=".5s" data-wow-delay=".3s">
                          <div class="banar__left">
                              <a href="{% url 'store' %}"><img src="{% static 'img/slider/asset13.png' %}" alt=""></a>
                              <div class="banar__content">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12">
                      <div class="row g-0">
                          <div class="col-xl-12 col-lg-12 col-md-12">
                              <div class="banarright wow fadeIn" data-wow-duration=".8s" data-wow-delay=".6s">
                                  <a href="{% url 'store' %}"><img src="{% static 'img/slider/asset14.png' %}" alt=""></a>
                                  
                              </div>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12">
                              <div class="banar_right_down wow fadeIn" data-wow-duration=".9s" data-wow-delay=".8s">
                                  <a href="{% url 'store' %}"><img src="{% static 'img/slider/2.png' %}" alt=""></a>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- banar area end -->
              <!-- team area start -->
              <div class="history__area pt-115 mb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="g_history mb-110">
                                <h4 class="pl-130">Our Team</h4>
                                <h2 class="title-3 pl-130 pt-20 ">Team Members</h2>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="team_members text-center mb-50">
                                <div class="team_members__thumb">
                                    <img src="{% static 'img/team/2.png' %}" alt="">
                                </div>
                                <div class="team_members__content pt-30">
                                    <h4 class="sub-title">RG SHARATH KUMAR</h4>
                                    <span>CEO, ARDUINO, IOT, 3D DESIGN CORE HEAD</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="team_members text-center mb-50 ">
                                <div class="team_members__thumb">
                                    <img src="{% static 'img/team/4.png' %}" alt="">
                                </div>
                                <div class="team_members__content pt-30">
                                    <h4 class="sub-title">V Rithika</h4>
                                    <span>FRONTEND APP DEVELOPER AND DESIGNER HEAD</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="team_members text-center mb-50">
                                <div class="team_members__thumb">
                                    <img src="{% static 'img/team/1.png' %}" alt="">
                                </div>
                                <div class="team_members__content pt-30">
                                    <h4 class="sub-title">D Swetha </h4>
                                    <span>BACKEND APP DEVELOPER AND AI HEAD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="viewcontent__action single_action pt-30 text-center" >
                      <span><a href="{% url 'about' %}">View More</a></span>
                    </div>
                </div>
            </div>
            <!-- team area end -->
    
<!-- categories area start -->
<div class="categories_area pt-85 mb-150">
  <div class="container-fluid">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="section-wrapper text-center mb-35">
        <h2 class="section-title">Explore Our Products</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="categories__tab">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active">
              <div class="container">
                <div class="product-active h-2-product-active swiper-container">
                  <div class="swiper-wrapper">
                    {% for product in products %}
                    <div
                      class="product-item swiper-slide wow fadeInUp"
                      data-wow-duration="1s"
                      data-wow-delay="0.2s"
                    >
                      <div class="product">
                        <div class="product__thumb">
                          <a href="{{ product.get_url }}">
                            <img
                              class="product-primary"
                              src="{{ product.image_1.url }}"
                              alt="product_image"
                            />
                            <img
                              class="product-secondary"
                              src="{{ product.image_1.url }}"
                              alt="product_image"
                            />
                          </a>
                          <div class="product-info mb-10">
                            <div class="product_category">
                              <span>{{ product.slug }}</span>
                            </div>
                          </div>
                          <div class="product__name">
                            <h4>
                              <a href="{% url 'store' %}"
                                >{{ product.product_name }}</a
                              >
                            </h4>
                            <div class="pro-price">
                              <p class="p-absoulute pr-1">
                                <span>Rs. {{ product.price }}</span>
                              </p>
                              <a class="p-absoulute pr-2" href="{{ product.get_url }}"
                                >View Product</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- categories area end -->

       <!-- counter section -->
       <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="section-wrapper text-center mb-35">
                    <h2 class="section-title">About us and our work</h2>
                    <p>We strive to empower the industry by contributing creatively and innovate in solutions <br> which meaningfully impact millions of people around the globe.</p>
                </div>
            </div>
  
          <div class="row row-cols-lg-5">
  
            <div class="col-lg-5ths col-md-6 d-flex justify-content-center">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Happy Clients</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-5ths col-md-6">
              <div class="count-box">
                <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Projects</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-5ths col-md-6">
              <div class="count-box">
                <i class="bi bi-headset" style="color: #15be56;"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Hours Of Support</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-5ths col-md-6">
              <div class="count-box">
                <i class="bi bi-people" style="color: #bb0852;"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Hard Workers</p>
                </div>
              </div>
            </div>
            <div class="col-lg-5ths col-md-6">
              <div class="count-box">
                
                <i class="bi bi-person" style="color: #bb0852;"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Employees</p>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- counter section end -->

<!-- popup area start -->
<div class="overlay"></div>
<div class="product-popup">
  <div class="view-background">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5">
        <div class="quickview">
          <div class="quickview__thumb">
            <img src="./{% static 'img/quick_view/25.jpg' %}" alt="" />
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-7">
        <div class="viewcontent">
          <div class="viewcontent__header">
            <h2>Brown Leather Bags</h2>
            <a class="view_close product-p-close" href="javascript:void(0)"
              ><i class="fal fa-times-circle"></i
            ></a>
          </div>
          <div class="viewcontent__rating">
            <i class="fal fa-star ratingcolor"></i>
            <i class="fal fa-star ratingcolor"></i>
            <i class="fal fa-star ratingcolor"></i>
            <i class="fal fa-star"></i>
          </div>
          <div class="viewcontent__price">
            <h4><span>$</span>99.00</h4>
          </div>
          <div class="viewcontent__stock">
            <h4>Available :<span> In stock</span></h4>
          </div>
          <div class="viewcontent__details">
            <p>
              Anlor sit amet, consectetur adipiscing elit. Fusce condimentum est
              lacus, non pretium risus lacinia vel. Fusce eget turpis orci.
            </p>
          </div>
          <div class="viewcontent__action">
            <span>Qty</span>
            <span><input type="number" placeholder="1" /></span>
            <span><a href="#">add to cart</a></span>
            <span><i class="fal fa-heart"></i></span>
            <span><i class="fal fa-info-circle"></i></span>
          </div>
          <div class="viewcontent__footer">
            <ul>
              <li>Category:</li>
              <li>SKU:</li>
              <li>Brand:</li>
            </ul>
            <ul>
              <li>Watches</li>
              <li>2584-MK63</li>
              <li>Brenda</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
