{% extends 'base.html' %} 
{% load static %} 
{% load compress %} 
{% block content %}

    <div class="checkout_area pt-80">
        <div class="container">
            <!-- <div class="notification__message">
                <p><i class="fal fa-window-maximize"></i>Returning customer? Click here to <a href="{% url 'login' %}">login</a></p>
                <p><i class="fal fa-window-maximize"></i>Have a coupon? Click here to enter your code</p>
            </div> -->
            <form action="{% url 'place_order' %}" method="POST">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="checkout_form mb-100">
                                {% csrf_token %}
                                <div class="row mb-30">
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="checkout__wrap">
                                            <label>First name <span>*</span></label>
                                            <input type="text" required name="first_name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="checkout__wrap"> 
                                            <label>Last name <span>*</span></label>
                                            <input type="text" required name="last_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__wrap">
                                    <label>Country <span>*</span></label>
                                    <input type="text" required name="country">

                                </div>
                                <div class="checkout__wrap">
                                    <label>Street address <span>*</span></label>
                                    <input class="mb-20" type="text" name="address_line_1" placeholder="house number and street number">
                                    <input type="text" required name="address_line_2" placeholder="apartment,suite,unit,etc.(optional)">
                                </div>
                                <div class="checkout__wrap">
                                    <label>Town / City <span>*</span></label>
                                    <input type="text" required name="city">
                                </div>
                                <div class="checkout__wrap">
                                    <label>State <span>*</span></label>
                                    <input type="text" required name="state">
                                </div>
                                <div class="checkout__wrap">
                                    <label>Postcode<span>*</span></label>
                                    <input type="text" required name="postcode">
                                </div>
                                <div class="checkout__wrap">
                                    <label>Phone <span>*</span></label>
                                    <input type="text" required name="phone">
                                </div>
                                <div class="checkout__wrap">
                                    <label>Email address <span>*</span></label>
                                    <input type="email" name="email">
                                </div>
                                <div class="checkout__wrap">
                                    <label>Order notes (optional) <span></span></label>
                                    <textarea  name="order_note" placeholder="Note about your order, e.g special note for delivery"></textarea>
                                </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-12">
                            <div class="cart__acount ml-50">
                                <h5>Your order</h5>
                                <table>
                                    <tr class="first-child-2">
                                        <td>product</td>
                                        <td>
                                            <ul>
                                                {% for cart_item in cart_items %}
                                                <li>
                                                    {{cart_item.product.product_name}}  <span>× {{ cart_item.quantity }}</span>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>
                                        <a href="{% url 'carts' %}">
                                            Click to Edit Cart
                                        </a>
                                    </td>
                                </tr>
                            <tr class="first-child-2">
                                <td>Total</td>
                                <td class="lightbluee" name="order_total" value="{{total}}">Rs.{{total}}</td>
                            </tr>
                            <!-- <tr class="first-child lastchild">
                                <td>Shipping</td>
                                <td>Enter your address to view shipping options. </td>
                            </tr>
                            <tr class="first-child-2">
                                <td>Total</td>
                                <td class="lightbluee">$47.00</td>
                            </tr> -->
                        </table>

                        <div class="terms pt-50 pb-20">
                            <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy</p>
                            <div class="check_term">
                                <input type="checkbox" required>
                                <p>I have read and agree to the website terms and conditions <span>*</span></p>
                            </div>
                            <div class="order-button">
                                <button type="submit">place order</button>
                            </div>
                            <div class="order-button mt-3">
                                <button>Continue Shopping</button>
                            </div>
                        </div>
                        </div>    
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
