{% extends 'base.html' %} 
{% load static %} 
{% load compress %} 
{% block content %}

    <div class="checkout_area pt-80">
        <div class="container">
            <div class="notification__message">
                <p><i class="fal fa-window-maximize"></i>Message:</p>
                <p class="container">
                    Dear customer, <br>
                    Thank for ordering our products. But due to some external issue the payment portal is closed.  <br>
                    We will get back to you as soon as the portal is up! <br>
                    Regards!<br>
                    Team Senter
                </p>
            </div>
        </div>
    </div>
{% endblock %}
