{% extends 'base.html' %} {% load static %} {% load compress %}
<!-- main content starts -->
{% block content %}
<div class="cart-offcanvas-overlay"></div>
<!-- cart area end  -->

<!-- single_breadcrumb_area start -->
<div class="single_breadcrumb pt-25">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'store' %}">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          {{product.product_name}}
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="single_product_tab">
              <div class="single_prodct">
                <ul
                  class="nav nav-tabs justify-content-center mb-55"
                  id="dfde"
                  role="tablist"
                >
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active"
                      id="home-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#homde"
                      type="button"
                      role="tab"
                      aria-selected="true"
                    >
                      <img src="{{product.image_1.url}}" alt="" />
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="profile-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#image_2"
                      type="button"
                      role="tab"
                      aria-selected="false"
                    >
                      <img src="{{ product.image_2.url}}" alt="" />
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="profile-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#image_3"
                      type="button"
                      role="tab"
                      aria-selected="false"
                    >
                      <img src="{{product.image_3.url}}" alt="" />
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10">
            <div class="single_preview_product">
              <!-- <div class="single-popup-view">
                <a class="popup-image" href="{{ product.image_1.url }}"
                  ><i class="fal fa-search"></i
                ></a>
              </div> -->
              <div class="tab-content" id="myTabefContent">
                <div
                  class="tab-pane fade show active"
                  id="homde"
                  role="tabpanel"
                >
                  <div class="full-view">
                    <img src="{{product.image_1.url}}" alt="" />
                  </div>
                </div>
                <div class="tab-pane fade" id="image_2" role="tabpanel">
                  <div class="full-view">
                    <img src="{{product.image_2.url}}" alt="" />
                  </div>
                </div>
                <div class="tab-pane fade" id="image_3" role="tabpanel">
                  <div class="full-view">
                    <img src="{{product.image_3.url}}" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="single_preview_content pl-30">
          <h2 class="title-5 edit-title border-bottom-0">
            {{product.product_name}}
          </h2>
          <!-- <div class="s-product-review">
            <span><i class="far fa-star start-color"></i></span>
            <span><i class="far fa-star start-color"></i></span>
            <span><i class="far fa-star start-color"></i></span>
            <span><i class="far fa-star start-color"></i></span>
            <span><i class="far fa-star"></i></span>
            <span class="pl-left">(1 customer review)</span>
          </div> -->
          <div class="s-price pt-30 mb-30">
            <span>Rs.{{product.price}}</span>
          </div>
          <div class="s-des">
            {{ product.brief }}
          </div>
          {% if product.stock <= 0 %}
            <h5 class="text-danger"> Out of Stock </h5>
          {% else %}
            {% if in_cart %}
            <div class="viewcontent__action single_action pt-30">
              <a href="{% url 'carts' %}">
                <button class="btn btn-success">Added to Cart</button>
              </a>
            </div>
            {% else %}
            <div class="viewcontent__action single_action pt-30">
              <span><a href="{% url 'add_cart' product.id %}">+ add to cart</a></span>
            </div>
            {% endif %}
          {% endif %}
          <div class="viewcontent__footer border-top-0 border-bottom pb-30">
            <ul>
              <li>Category:</li>
              <li>SKU:</li>
            </ul>
            <ul>
              <li>jackets, Youth</li>
              <li>woo-hoodie-with-logo</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- single_breadcrumb_area end -->

<div class="single_product_long_desc pt-50">
  <div class="container">
    <div class="row">
      <div class="col-xl 12 col-lg-12 col-md-12">
        <div class="categories__tab single_disc_tab">
          <ul
            class="nav nav-tabs justify-content-center"
            id="myerTab"
            role="tablist"
          >
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="home-tab3"
                data-bs-toggle="tab"
                data-bs-target="#Description"
                type="button"
                role="tab"
                aria-selected="true"
              >
                Description
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="profile-tab3"
                data-bs-toggle="tab"
                data-bs-target="#Additional"
                type="button"
                role="tab"
                aria-selected="false"
              >
                Additional information
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabCffontent">
            <div
              class="tab-pane fade show active"
              id="Description"
              role="tabpanel"
            >
              <div class="single_product_description text-center pt-80">
                <h2 class="title-5 border-0">YOUR NEW AND INNOVATIVE​</h2>
                <p>
                  {{ product.description }}
                </p>

                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="desc__imag_2">
                      <img src="{{ product.image_1.url }}" alt="" />
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 pl-50">
                    <div class="desc_title_wrapper pt-100">
                      <h2>FEATURES: </h2>
                    </div>
                    <div class="desc_image_content pt-30 mb-30">
                      <div class="desc-3_image">
                        <img src="{{ product.feature_image_1.url }}" alt="" />
                      </div>
                      <div class="desc-3_content">
                        <h4>{{ product.feature_1_title }}</h4>
                        <p>
                          {{ product.feature_1_description }}
                        </p>
                      </div>
                    </div>
                    <div class="desc_image_content mb-30">
                      <div class="desc-3_image">
                        <img src="{{ product.feature_image_2.url }}" alt="" />
                      </div>
                      <div class="desc-3_content">
                        <h4>{{ product.feature_2_title }}</h4>
                        <p>
                          {{ product.feature_2_description }}
                        </p>
                      </div>
                    </div>
                    <div class="desc_image_content mb-30">
                      <div class="desc-3_image">
                        <img src="{{ product.feature_image_3.url }}" alt="" />
                      </div>
                      <div class="desc-3_content">
                        <h4>{{ product.feature_3_title }}</h4>
                        <p>
                          {{ product.feature_3_description }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade container py-5" id="Additional" role="tabpanel">
              <div class="additional-information">
                <ul>
                  <li class="title">Additional information</li>
                  <li>Weight</li>
                  <li>{{ product.weight }} gms</li>
                  <li>Dimensions</li>
                  <li>{{ product.dimension_x }} × {{ product.dimension_y }} × {{ product.dimension_z }} cms</li>
                  <li>Material</li>
                  <li>{{ product.materials }}</li>
                  <li>Warranty</li>
                  <li>{{ product.warranty }} Months</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
